.container2{
    background-image: url('https://t4.ftcdn.net/jpg/05/05/87/81/360_F_505878106_cj7ql5Djcvukb3kmnmtOrvSo5hL1yoYa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 220px;
    align-items: center;
    height: 63vh;
    box-shadow: 60px 100px 100px rgba(0, 0, 0, 0.212);
    display: flex;
    border-radius: 20px;


}
.form-image {
    width: 300rem;
    height: 70vh;
    display: flex;
    flex: 1;

    padding: rem;
}

.form-image img{
    width: 50rem;

}


.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff00;

    padding: 20px;
    margin-right: 40rem ;
}
.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%; /* Adicionado /
}

.form-header h1::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #92b5f7;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%; / Adicionado /
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 100%; / Alterado para 100% */
}

.input-box input {
    margin: 0.2rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(84, 46, 116, 0.1);

}

.input-box input::placeholder {
    color: rgba(0, 0, 0, 0.5); 
}



.input-box input:hover {
    background-color: #0c3e8075;
}
